.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float: right;

}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;

}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;

}
